body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.header {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_text{
  font-size: 10px;
}

.score {
  margin: 10px;
  font-size: 25px;
}

.dashscore{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlPanel{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.board {
  margin: 20px;
  position: relative;
  width: 40%;
}

.squares {
  position: relative;
  z-index: 100;
  display: grid;  
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.booster {
  display: flex;
  width: 210px;
  height: 70px;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  box-shadow: 0 5px #999;
  transition: width 0.1s ease-in-out;
}

.booster:hover {
  filter: invert(10%);
  transition: filter 0.1s ease-in-out;
}

.booster:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.rise {
  margin: 0px;
  border: 3px solid black;
  transition: 0.2s;
}

.riseOnHover:hover {
  margin: 0px;
  border: 3px solid black;
  transition: 0.2s;
}

.horizontalConnectors {
  position: absolute;
  top: 0;
  margin: 0 40px;
  display: grid;  
}

.verticalConnectors {
  position: absolute;
  top: 0;
  margin: 40px 0;
  display: grid;  
}

.slashConnectors, .backslashConnectors {
  position: absolute;
  top: 0;
  margin: 40px 40px;
  display: grid;  
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.connectorLine {
  flex-grow: 1;
  height: 8px;
}

.connectorLine.vertical {
  transform: rotate(90deg);
}

.connectorLine.slash {
  transform: rotate(-45deg);
}

.connectorLine.backslash {
  transform: rotate(45deg);
}